---
- name: Supervisor update
  ansible.builtin.service:
    name: "{{ supervisor_service }}"
    state: "restarted"
    sleep: "5"
  when: >
    not (
      ansible_facts['os_family'] == "RedHat" and ansible_facts['virtualization_type'] is defined and (
        ansible_facts['virtualization_type'] == "docker" or ansible_facts['virtualization_type'] == "containerd"
      )
    )
